<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="medsavant.search" version="1.0.0" class="medsavant.search.ExampleSearchApp" type="search">
    <attributes><attribute id="sdk-version" value="1.0.0"/></attributes>
    <requires>
        <import plugin-id="savant.core"/>
    </requires>
	<runtime>
            <library id="library" path="/" type="code"></library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="extension">
        <parameter id="class" value="medsavant.search.ExampleSearchApp"/>
        <parameter id="name" value="Example Search"/>
    </extension>
</plugin>
