<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="medsavant.secondary.SecondaryApp">
    <properties>
        <property name="version" value="1.0.0"/>
        <property name="sdk-version" value="1.2-rc-1"/>
        <property name="name" value="Secondary" />
        <property name="category" value="ANALYSIS" />
        <property name="author" value="University of Toronto" />
        <property name="webpage" value="http://www.medsavant.com" />
        <property name="newinversion" value="Initial Version" />
        <property name="shortdesc" value="demo" />
        <property name="description">
        </property>
    </properties>
</plugin>