<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.ut.biolab.medsavant.app.google.GoogleGenomicsApp">
    <properties>
        <property name="version" value="1.1.0"/>
        <property name="sdk-version" value="1.2-SNAPSHOT"/>
        <property name="name" value="Google Genomics" />
        <property name="category" value="VISUALIZATION" />
        <property name="author" value="University of Toronto" />
        <property name="webpage" value="http://www.genomesavant.com" />
        <property name="newinversion" value="Initial Version" />
        <property name="shortdesc" value="demo" />
        <property name="description">
        </property>
    </properties>
</plugin>