<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

      <!-- : separates paths to config.properties file, listed in order of precedence.  Relative paths are assumed to be relative to the application root -->
    <context-param>
        <param-name>MedSavantConfigFile</param-name>
        <param-value>config.properties:/etc/medsavantjson/config.properties</param-value>
    </context-param>

    <servlet>
        <servlet-name>MedSavantServlet</servlet-name>
        <servlet-class>org.ut.biolab.medsavant.MedSavantServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MedSavantServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
