Package: medsavant-server
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: java6-runtime-headless | java6-runtime | java-6-runtime, infobright
Maintainer: Computational Biology Lab, University of Toronto (development@medavant.com)
License: Apache 2.0
Description: MedSavant Server
 MedSavant is a search engine for genetic variants.